src/MapClient/node_modules
src/MapClient/dist
src/CommunicationControl/.idea
src/CommunicationControl/.vs
src/CommunicationControl/published
src/CommunicationControl/DevOpsProject/published
bin
obj
Logs
.vscode
build
src/CommunicationControl/DevOpsProject.sln.DotSettings.user
src/CommunicationControl/DevOpsProject.sln.DotSettings.user
src/CommunicationControl/DevOpsProject.sln.DotSettings.user
src/CommunicationControl//DevOpsProject.sln.DotSettings.user
src/CommunicationControl/DevOpsProject.sln.DotSettings.user
src/CommunicationControl/DevOpsProject.sln.DotSettings.user
src/CommunicationControl/DevOpsProject.sln.DotSettings.user
